
/* Receiver Information */
form{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
form h3, form h5{
    margin: 20px 0px;
}
.reciever{
    display: flex;
    flex-direction: column;
    max-width: 50%;
}
.reciever .check{
    font-size: 0.8em;
    display: flex;
}
.opt{
    display: flex;
    align-items: center;
}
.opt:not(:first-child){
    padding-left: 20px;
}
.select, .input{
    width: 300px;
    border: 1px solid var(--main-bg-color);
    border-radius: 5px;
    min-height: 2rem;
    margin: 10px 0px;
    display: block;
}
.box{
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
    margin: 10px;
    margin-left: 0;
    box-shadow: 2px 2px whitesmoke;
    border-radius: 5px;
    width: 300px;
}
.city-state{
    display: flex;
    width: 300px;
    justify-content: center;
}
.city{
    min-width: calc(100% /3);
}
.city:not(:first-child){
    padding-left: 5px;
}


/* Parcel Information */
.parcel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.proceed{
    display: flex;
    width: 300px;
    justify-content: space-between;
}
.proceed button{
    padding: 10px;
    min-width: fit-content;
    text-align: center;
    border-radius: 5px;
    border: none;
}
.proceed button:first-child{
    background-color: white;
    color: var(--main-text-color);
    box-shadow: 2px 2px whitesmoke;
}
.proceed button:last-child{
    background-color: var(--main-bg-color);
    color: white;
}
.description-parcel{
    height: 100px;
    width: 300px;
    border: 1px solid var(--main-bg-color);
    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
}
.drop-label{
    font-size: 0.5em;
}
@media screen and (max-width: 767px){
    form{
        flex-direction: column;
        align-items: center;
    }
}