.options-main{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}
.options{
    display: flex;
    justify-content: flex-start;
}
.options button {
    padding: 5px 10px;
    margin: 0px 10px;
    background-color: white;
    color: var(--main-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: none;
    box-shadow: 2px 2px whitesmoke;
}
.options button span img{
    background-color: var(--main-bg-color);
}
.options button span{
    font-size: 1.5em;
}